.logo {
    margin-top: 15px;
    width:10em;
    height:10em;
}

.logo-text {
    font-family: 'Arial';
    color: black;
    font-weight: bold;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

label {
    margin-bottom: 0px!important;
    border-bottom: none!important;
}
