/* vuetify lg max breakpoint: 1920 - 16 - 1 = 1903px */

    .flex.lg5-custom {
        width: 220px;
        max-width: 220px;
        flex-basis: 220px;
    }

    .v-card:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 9999;
    }

  .removeall {
        text-decoration: none!important;
    }